main{
    text-align: center;
}
h1{
    font-size:xx-large;
}
p{
    font-size: large;
    margin-left: 250px;
    margin-right: 250px;
}
#Pikachu2Image {
    width: 500px;
    margin-left: 450px;
    margin-right: 250px;
}
#AboutusDescription{
    color: var(--color-secondary);
}

