.ability {
    display: flex;
    align-items: center;
}
.card-info {
    display: flex;
    gap: 18px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info {
    padding-top: 24px;
}
.card-img {
    height: auto;
    width: 243px;
    position: relative;
    z-index: 0;
}
.icon {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#card-icons {
    display: flex;
    width: 278px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
h2::first-letter{
    text-transform: capitalize;
}
/* Card styles */
article {
    padding: 24px;
    position: relative;
    border-radius: 8px;
    width: 300px;
  
    z-index: -2;
    box-shadow: 11px 10px 51px -18px rgba(0,0,0,0.35);
}
.pokeid {
    font-size: 24px;
    color: #ffff;
}
/* ELECTRIC */
.electric {
    background-image: linear-gradient(180deg,  rgb(235, 193, 8) 12%, rgb(237, 187, 7) 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #ECC664;
}
/* GRASS */
.grass {
    background-image: linear-gradient(180deg,  #4AA148 12%, #7CE27A 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #71DA6F;
}
/* FIRE */
.fire {
    background-image: linear-gradient(180deg,  #D66904 12%, #DB9103 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #D76F05;
}
/* WATER */
.water {
    background-image: linear-gradient(180deg,  #067bce 12%, #219DE3 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #0786E3;
}
/* POISON */
.poison {
    background-image: linear-gradient(180deg,  #651F7D 12%, #9947B6 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #651F7D;
}
/* PSYCHIC */
.psychic {
    background-image: linear-gradient(180deg,  #d38379 12%, #FE9F92 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #d38379;
}
/* GROUND */
.ground {
    background-image: linear-gradient(180deg,  #8d6f33 12%, #ae893f 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #8d6f33;
}
/* NORMAL */
.normal {
    background-image: linear-gradient(180deg,  #717170 12%, #9D9D9D 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #717170;
}
/* ROCK */
.rock {
    background-image: linear-gradient(180deg,  #C0A87B 12%, #D7C29B 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #C0A87B;
}
/* BUG */
.bug {
    background-image: linear-gradient(180deg,  #99C07B 12%, #B8D4A3 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #99C07B;
}
/* GHOST */
.ghost {
    background-image: linear-gradient(180deg,  #58559F 12%, #7773D4 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #58559F;
}
/* ICE */
.ice {
    background-image: linear-gradient(180deg,  #73b6ae 12%, #8CDDD4 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #73b6ae;
}
/* FAIRY */
.fairy {
    background-image: linear-gradient(180deg,  #db94b6 12%, #dca6c0 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #db94b6;
}
/* FIGHTING */
.fighting {
    background-image: linear-gradient(180deg,  #a03f41 12%, #ea5154 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #ae3133;
}
/* DRAGON */
.dragon {
    background-image: linear-gradient(180deg,  #01639c 12%, #0180C7 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #01639c;
}
/* STEEL*/
.steel {
    background-image: linear-gradient(180deg,  #437f83 12%, #58A6AA 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #437f83;
}
/* DARK */
.dark {
    background-image: linear-gradient(180deg,  #6c7079 12%, #9298A4 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #6c7079;
}

