.ability {
    display: flex;
    align-items: center;
}
.card-info {
    display: flex;
    gap: 28px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info {
    padding-top: 24px;
}
.card-img {
    height: 290px;
    width: 100%;
    position: relative;
    z-index: 0;
}
#ray-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#card-icons {
    display: flex;
    width: 278px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}
h2::first-letter{
    text-transform: capitalize;
}
/* Card styles */
article {
    padding: 24px;
    position: relative;
    border-radius: 8px;
  
    z-index: -2;
    box-shadow: 11px 10px 51px -18px rgba(0,0,0,0.35);
}
.pokeid {
    border-radius: 25px;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
/* RAYO */
.electric {
    background-image: linear-gradient(180deg,  rgb(235, 193, 8) 12%, rgb(237, 187, 7) 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #ECC664;
}
.idrayo {
    background-color: #F3DA55;
}
/* PLANTA */
.grass {
    background-image: linear-gradient(180deg,  #4AA148 12%, #7CE27A 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #71DA6F;
}
.idplanta {
    background-color: #99EB98;
}
/* FUEGO */
.fire {
    background-image: linear-gradient(180deg,  #D66904 12%, #DB9103 25%, rgba(255,255,255,1) 55%);
    border: 2.5px solid #D76F05;
}
.idfuego {
    background-color: #EDA840;
}