
#blastoise {
    position: relative;
}
#blastoiseImage {
    position: absolute;
    width: 592px;
}
#blastoiseHeader {
    position: relative;
    font-weight: bold;
    line-height: 1;
    color: #84ACD8;
    font-size: 148px;
}
#description {
    color: var(--color-secondary);
}