.ability {
    display: flex;
    align-items: center;
}
.card-info {
    display: flex;
    gap: 28px;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info {
    padding-top: 24px;
}
article {
    padding: 24px;
    position: relative;
    border: 2.5px solid #ECC664;
    border-radius: 8px;
    background-image: linear-gradient(180deg,  rgb(235, 193, 8) 12%, rgb(237, 187, 7) 25%, rgba(255,255,255,1) 55%);
}
.card-img {
    height: 290px;
    width: 100%;
    position: relative;
    z-index: 1;
}
#ray-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.pokeid {
    background-color: #F3DA55;
    border-radius: 25px;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
#card-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
}
#banner-background {
    position: relative;
    z-index: -1;
}
#entry-title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 258px;
    margin-top: 350px;
}
#pikaEvolution {
    position: absolute;
    z-index: 1;
}
#blastoise {
    position: relative;
}
#blastoiseImage {
    position: absolute;
    width: 592px;
}
#blastoiseHeader {
    position: relative;
    font-weight: bold;
    line-height: 1;
    color: #84ACD8;
    font-size: 148px;
}