#blastoise {
    position: relative;
}

#blastoiseImage {
    position: absolute;
    width: 592px;
}

#blastoiseHeader {
    position: relative;
    font-weight: bold;
    line-height: 1;
    color: #84ACD8;
    font-size: 148px;
}

#description {
    color: var(--color-secondary);
}

#banner-background {
    position: relative;
    z-index: -1;
}

#entry-title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 258px;
    margin-top: 350px;
}

#pikaEvolution {
    position: absolute;
    z-index: 1;
}

#h2 {
    width: 100%;
}

.cards {
    display: grid;
    gap: 10px;
}

@media screen and (700px <=width) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (1083px <=width) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}